body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  overflow: hidden;
}

.title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  opacity: 0.75;
}
.fullscreen {
  min-height: 100vh;
  width: 100%;
  margin: 0;
}
#chart {
  margin: 0;
  padding: 0;
}
#btn-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  padding: 2px;
  color: #999;
  border-left: solid 1px #999;
  border-right: solid 1px #999;
  border-radius: 0;
}

@media (min-width: 768px) {
  #menu {
    max-width: 20em;
    height: 100vh;
  }
}
#menu.collapsing {
  transition: none;
  display: none;
}

#btn-menu[aria-expanded="false"]::after {
  content: ">";
}
#btn-menu[aria-expanded="true"]::after {
  content: "<";
}
#btn-menu[aria-expanded="false"] {
  cursor: e-resize;
}
#btn-menu[aria-expanded="true"] {
  cursor: w-resize;
}


#menu {
}
#chart svg {
  width: 100%;
}

.line {
  fill: none;
  stroke-width: 2px;
  opacity: 0.9;
  clip-path: url(#clip);
}

.domain {
  display: none;
}
.tick line {
  opacity: 0.1;
}
.axis text {
  opacity: 0.5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}
