body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}
.screen {
  width: 100%;
  margin: 0;
  flex-direction: column;
}
#chart {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
#btn-menu {
  display: none;
}
#btn-menu[aria-expanded="false"]::after {
  content: ">";
}
#btn-menu[aria-expanded="true"]::after {
  content: "<";
}
#btn-menu[aria-expanded="false"] {
  cursor: e-resize;
}
#btn-menu[aria-expanded="true"] {
  cursor: w-resize;
}
.text-shadow {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  #btn-menu {
    position: absolute;
    left: 0;
    top: -2px;
    z-index: 10;
    height: calc(100% + 2px);
    padding: 2px;
    color: #999;
    box-sizing: border-box;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    border-radius: 0;
    display: block;
  }
  #menu {
    box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.5);
    height: 100vh !important;
  }
  #menu.collapsing {
    transition: all 0.35s ease;
    flex-grow: 0;
  }
  #menu.collapsing > * {
    display: none;
  }
  #menu.collapse.show {
    flex-grow: 1;
  }
  #chart {
    flex-grow: 3;
  }
  .screen {
    min-height: 100vh;
    flex-direction: row;
  }
}

/* SVG */

svg {
  width: 100%;
  vertical-align: top;
}
.line {
  fill: none;
  stroke-width: 2px;
  opacity: 0.8;
  clip-path: url(#clip);
}
.domain {
  display: none;
}
.tick line {
  opacity: 0.1;
}
.axis text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  fill: #777;
}
.title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  fill: #333;
}
