<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Climate Chart</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/node_modules/typeface-source-sans-pro/index.css" rel="stylesheet">
    <link href="/index.css" rel="stylesheet">
  </head>
  <body>
    <div class="row fullscreen">
      <aside id="menu" class="col-md collapse width show bg-info text-light">
        <h1 class="mt-3">Climate Chart</h1>
        <form>
          <div class="form-group">
            <label for="dataset">Dataset</label>
              <select class="form-control custom-select" id="dataset" v-model="selected">
                <option v-for="(_, url) in datasets" v-bind:value="url">
                  {{ datasets[url].title }}
                </option>
              </select>
          </div>
        </form>
        <p>{{ datasets[selected].description }}</p>
      </aside>
      <section id="chart" class="col-md">
        <button id="btn-menu" type="button" class="btn btn-light" data-toggle="collapse" data-target="#menu" aria-expanded="true"></button>

        <svg></svg>
      </section>
    </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/d3/build/d3.min.js"></script>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script src="/node_modules/urijs/src/URI.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
