body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}
.screen {
  width: 100%;
  margin: 0;
  flex-direction: column;
}
#chart {
  height: 80vh;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
#btn-menu {
  display: none;
}
#btn-menu::before,
#btn-menu::after {
  content: "";
  position: absolute;
  left: 2px;
  width: 2px;
  display: block;
}
#btn-menu::after {
  height: 12px;
  margin-top: -5px;
  border-top: solid 2px;
  border-bottom: solid 2px;
}
#btn-menu::before {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
#btn-menu[aria-expanded="false"] {
  cursor: e-resize;
}
#btn-menu[aria-expanded="true"] {
  cursor: w-resize;
}
#btn-menu:active,
#btn-menu:focus {
  box-shadow: none;
}

.text-shadow {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  #btn-menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: calc(100%);
    padding: 0;
    width: 8px;
    box-sizing: border-box;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: rgba(0, 0, 0, 0.3);
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    display: block;
    color: #999;
  }
  #menu {
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.5);
    height: 100vh !important;
  }
  #menu.collapsing {
    transition: all 0.35s ease;
    flex-grow: 0;
  }
  #menu.collapsing > * {
    display: none;
  }
  #menu.collapse.show {
    flex-grow: 1;
  }
  #chart {
    flex-grow: 3;
    height: 100vh;
  }
  .screen {
    flex-direction: row;
  }
}

/* SVG */

svg {
  width: 100%;
  vertical-align: top;
}
.line {
  fill: none;
  stroke-width: 2px;
  opacity: 0.8;
  clip-path: url(#clip);
}
.domain {
  display: none;
}
.tick line {
  opacity: 0.1;
}
.axis text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  fill: #777;
}
.title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  fill: #333;
}
.focus-line {
  stroke-dasharray: 3 3;
  stroke: black;
  opacity: 0.25;
  stroke-width: 2;
  display: none;
}
div.tooltip {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 16px;
  padding: 3px;
  background: white;
  border: solid 1px #999;
  border-radius: 3px;
  pointer-events: none;
  fill: #333;
}
